.main-color {
  color: rgba(239, 155, 40, 1) !important;
}
.bg {
  background-color: rgba(239, 155, 40, 1) !important;
}

.pointer {
  cursor: pointer;
}
/* Auth  */
.auth-container {
  background-image: url(./assets/Images/Login.png);
  background-position: center;
  background-size: cover;
}
.bg-overlay {
  background-color: rgba(49, 89, 81, 0.9);
}

.header-title {
  position: relative;
}
.header-title::before {
  content: "";
  position: absolute;
  background-color: rgba(239, 155, 40, 1);
  height: 4px;
  width: 10px;
  bottom: -5px;
}

/* Register */
.uploadContainer {
  background-color: #f0ffef;
  background-image: url(assets/Images/img-icon.png);
  background-size: cover;
  width: 70px;
  height: 70px;
  margin: auto;
  border-radius: 50%;
}
/* Sidebar  */
.sidebar-container {
  background-color: #0e382f;
  border-radius: 0px 58px 0px 0px;
}
.sidebar-container .ps-sidebar-container {
  background-color: #0e382f;
  height: 100vh;
  color: #fff;
}
.ps-sidebar-root {
  border: none !important;
}

.sidebar-container .ps-sidebar-container .ps-menu-button:hover {
  background-color: #0092471a;
}
